/* ******************************************************* 
    header 
 ******************************************************* */
header {
    background-color: #ffffff;
    padding-inline: 2rem;
    border-radius: 75px;
    margin-inline: 9vw;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.logo-text {
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 2rem;
    font-weight: 400;
    font-size: 13px;
    list-style: none;
    padding-top: 0.5rem;
}

li {
    display: flex;
    text-align: center;
    align-items: center;
}
li a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}
li a:hover {
    transform: scale(1.1);
}

.phone {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: auto;
    cursor: pointer;
}

/* ******************************************************* 
    carousel 
 ******************************************************* */

.carousel-slide {
    position: relative;
    display: flex;
    justify-content: start;
    max-width: 1160px;
    height: 481px;
    margin: auto;
    background-image: url("../assets/background-slider.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-slide {
    position: absolute;
    top: 50%;
    left: 80.5%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.slide-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
    z-index: 10;
}

.slide-text-container h1 {
    font-size: 46px;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 0;
}
.slide-text-container p {
    font-size: 16px;
    margin-bottom: 1.5rem;
}

hr {
    border: none;
    height: 2px;
    background-color: #dedede;
    margin-top: 1px;
    /* margin-bottom: 10px;
    margin-right: 200px; */
    margin-left: 0px;
    width: 365px;
}

/* ******************************************************* 
    swiper
 ******************************************************* */

.swiper-button-next,
.swiper-button-prev {
    width: 36px !important;
    height: 36px !important;
    border-radius: 50% !important;
    background-color: #ffffff !important;
    padding: 10px;
    color: #000000 !important;
    transition: all 0.3s ease;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--primary-color) !important;
    color: #ffffff !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-family: "Gilroy" !important;
    font-size: 32px !important;
}
.swiper-button-next::after {
    content: "→" !important;
}
.swiper-button-prev::after {
    content: "←" !important;
}

/* ******************************************************* 
    button
 ******************************************************* */
.custom-button {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 82px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    width: fit-content;
    padding-block: 1.5rem;
    padding-inline: 2.6rem;
    transition: all 0.3s ease;
}

.custom-button:hover {
    transform: scale(1.1);
}
