@import url("./fonts/stylesheet.css");
body {
  font-family: "Gilroy";
  color: var(--text-color);
  background-color: #f9f8fd;
  margin: 0;
}

li {
  display: flex;
  text-align: center;
  align-items: center;
}

.title-study {
  font-size: 46px;
  font-weight: 600;
  text-align: center;
  margin-inline: auto;
  margin-top: 4rem;
}

.blocks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding-left: 0;
}
